//* Variables
//* Colors
$text-color: #444;
$app-background-color: lightgray;
$app-background-whiteSmoke: whitesmoke;

//* Bootstrap Colors
$primary-color: #0d6efd;
$success-color: #198754;
$danger-color: #dc3545;
$warning-color: #f6be00;
$secondary-color: #6c757d;
$dark-color: #212529;
$info-color: #0dcaf0;
$indigo-color: #6610f2;
$purple-color: #6f42c1;
$pink-color: #d63384;
$teal-color: #20c997;
$orange-color: #fd7e14;

:export {
  textColor: $text-color;
  appBackgroundColor: $app-background-color;
  appBackgroundColorWhiteSmoke: $app-background-whiteSmoke;
  successColor: $success-color;
  dangerColor: $danger-color;
  warningColor: $warning-color;
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  darkColor: $dark-color;
  infoColor: $info-color;
  indigoColor: $indigo-color;
  purpleColor: $purple-color;
  pinkColor: $pink-color;
  tealColor: $teal-color;
  orangeColor: $orange-color;
}
